@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

/* Mobile First */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* HEADER Mobile First - commun page accueil & menu*/
header {
    text-align: center;
    padding: 20px 0 10px 0;
}

.header__logo {
    width: 45%;
}

/*MAIN SECTION 1 RECHERCHE - Mobile First - page accueil*/
.section-recherche {
    background-color: #EAEAEA;
}

.section-recherche form {
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: inset 0px 5px 2px -2px #CFCFCF;
}

.section-recherche__icone {
    font-size: 22px;
    padding-left: 50px;
    padding-right: 20px;
}

.section-recherche__localisation {
    border: none;
    background-color: #EAEAEA;
    font-size: 20px;
}

input::placeholder {
    color: black;
}

/* MAIN SECTION 2 ENTREPRISE ET FONCTIONNEMENT - Mobile First - page accueil*/
.conteneur-entreprise {
    background-color: #F6F6F6;
    text-align: center;
    padding: 40px 40px 80px 40px;
}

.conteneur-entreprise h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.conteneur-entreprise p {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 24px;
}

/*bouton page accueil et page menu*/
.conteneur-entreprise__bouton, .conteneur-commander__btn{
    padding: 20px;
    border-radius: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 2px 10px 10px lightgrey;
    color: white;
    font-size: 20px;
}

.conteneur-commander{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.conteneur-commander__btn{
    padding-left: 60px;
    padding-right: 60px;
    border: none;
}
/*fin style bouton accueil et menu*/


.conteneur-fonctionnement {
    padding: 60px 40px;
    background-color: #FFFFFF;
}

.conteneur-fonctionnement h2, .conteneur-restaurant h2 {
    font-size: 30px;
    font-weight: 600;
}

.conteneur-fonctionnement__etape {
    display: flex;
    padding: 25px 0;
    margin: 30px 0;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 2px 6px 20px 3px lightgrey;
    align-items: center;
}

.conteneur-fonctionnement__etape .numero {
    color: #FFFFFF;
    border: 2px #9356DC solid;
    background-color: #9356DC;
    border-radius: 35px/35px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px;
    position: relative;
    left: -17px;
}

.conteneur-fonctionnement__etape i {
    color: #7e7e7e;
    font-size: 25px;
    margin: 0 50px 0 20px;
}

.conteneur-fonctionnement__etape--infos{
    font-size: 20px;
    font-weight: 500;
}

/* MAIN SECTION 3 RESTAURANTS - Mobile First - page accueil*/
.conteneur-restaurant {
    background-color: #F6F6F6;
    padding: 60px 40px;
}

.conteneur-restaurant__article {
    background-color: #FFFFFF;
    border-radius: 20px/20px;
    box-shadow: 2px 10px 10px lightgrey;
    position: relative;
    margin: 25px 0;
}

.conteneur-restaurant__article img {
    width: 100%;
    height: 230px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.conteneur-restaurant__article--infos {
    padding: 15px;
    line-height: 30px;
    font-size: 20px;
}

.conteneur-restaurant__article--infos h3{
    font-weight: 500;
}

.conteneur-restaurant__article--infos p{
    font-weight: 300;
}

.conteneur-restaurant__article .nouveau {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #99E2D0;
    border: 2px #99E2D0 solid;
    border-radius: 3px;
    color: #208765;
    font-weight: 400;
    padding: 6px 16px;
}

.conteneur-restaurant__article i {
    position: absolute;
    right: 25px;
    bottom: 35px;
    font-size: 30px;
}

/*MAIN GENERAL - Mobil first - apge menu*/
main{
    background-color: #F6F6F6;
}

/*MAIN SECTION 1 TITRE - Mobile First - page menu*/
.conteneur-titre{
    position: relative;
}

.conteneur-titre img{
    width: 100%;
}

.conteneur-titre__nom{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.conteneur-titre__nom h1{
    font-family: 'shrikhand';
    font-size: 30px;
}

.conteneur-titre i{
    font-size: 30px;
}

/*MAIN SECTION 2-3-4 ENTREES-PLATS-DESSERTS - Mobile First - page menu*/
.conteneur-menu{
    padding: 15px 0;
}

.conteneur-menu h2{
    width: 10%;
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 4px #99E2D0 solid;
}

.conteneur-menu__choix{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    box-shadow: 2px 6px 20px 3px lightgrey;
    position: relative;
}
.conteneur-menu__choix h3{
    padding-bottom: 10px;
}

.conteneur-menu__choix .prix{
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-weight: bold;
    font-size: 19px;
}

.conteneur-menu__choix .check{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 27px;
    color: white;
    background-color: #99E2D0;
    width: 20%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/*FOOTER - Mobile First - commun page accueil & menu*/
footer {
    background-color: #353535;
    padding: 40px;
}

.footer__logo {
    width: 140px;
}

footer a {
    color: #FFFFFF;
    font-size: 20px;
}

.footer__nav {
    line-height: 35px;
    padding: 20px 0;
}

.footer__icone {
    font-size: 20px;
    margin-right: 22px;
}

.footer__icone2 {
    font-size: 20px;
    margin-right: 15px;
}